<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <Settings>
        <Setting Name="KeybindReload" Type="control" Value="R"/>
        <Setting Name="KeybindQuickLootAll" Type="control" Value="H"/>
        <Setting Name="KeybindQuickStackToPlayer" Type="control" Value="K"/>
        <Setting Name="KeybindQuickStackToStorage" Type="control" Value="L"/>
    </Settings>
</Configuration>